.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

 /* <div class="grid grid-cols-2 grid-rows-3 gap-3 justify-center">
    <div class="bg-[#ff88385f] rounded">1</div>
    <div class="bg-[#58763943] row-span-2 rounded"><img src="./images/fresh-1.png" alt=""></div>
    <div class="border border-red-600 row-span-2 rounded"><img src="./images/fresh-2.png" alt=""></div>
    <div class="bg-[#d9d9d960] rounded">4</div>
    </div> */